
/* 	< !-- font-family: 'Maven Pro',
	sans-serif;
	font-family: 'Indie Flower',
	cursive;
	font-family: 'Quicksand',
    sans-serif;
    
font-family: 'Thasadith',sans-serif;

font-family: 'Major Mono Display',
monospace;

font-family: 'Rubik',
sans-serif;

font-family: 'ZCOOL KuaiLe',
cursive;

font-family: 'Permanent Marker',
cursive;

font-family: 'Carter One',
cursive;






	--> */

@media only screen and (max-width: 600px) {
 
    body{
        
        background-color: pink;
    }
    
}



body {
    box-sizing:border-box;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 6px;

}


h1{
    

font-family: 'Carter One', cursive;
color:#ff033e;
 text-shadow: 1px 1px black;
    
}

p{
    font-family: 'Thasadith',sans-serif;
    color:black;
    
}


h5{
    
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  line-height: 1.2em;
  font-size: 22px; 
    
    
}

h2,h3,
h4, h6 {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
    line-height: 1.4em;
    font-size: 22px;
}

.call{
    font-family: 'Mavin Pro',sans-serif;
    font-size: 4.5vw;
    letter-spacing: 24px;
    color:white;
    box-shadow: 0px 1px white;
    text-shadow: 2px 2px black;
    
}

.home-btn{
font-family: 'Rubik',sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    color: #ff033e;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

.home-btn:hover{
    
    color:yellow;
     text-shadow: 2px 2px black;
    
}



.side-btn{
font-family: 'Rubik',sans-serif;
    font-size: 16px;
  letter-spacing: 5px;
    color: #ff033e;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

.side-btn:hover{
    
    color:yellow;
     text-shadow: 2px 2px black;
    
}


.display-title{
    
    font-family: 'Permanent Marker',cursive;
    color:whitesmoke;
    text-shadow: 2px 2px black;
    font-size: 24px;
}






.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
	float:right;
}

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
	
	
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
    border-color: #f44336;
    color: red
}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

.btn {
    border-radius: 5px;
}